In [132]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [156]:
dataframe = pd.read_csv('online_shoppers_intention.csv')

In [157]:
dataframe.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [158]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [159]:
dataframe.VisitorType.unique()

array(['Returning_Visitor', 'New_Visitor', 'Other'], dtype=object)

In [160]:
cleanup = {"Month": {"Jan": 1,
                     "Feb": 2,
                     "Mar": 3,
                     "Apr": 4,
                     "May": 5,
                     "June": 6,
                     "Jul": 7,
                     "Aug": 8,
                     "Sep": 9,
                     "Nov": 10,
                     "Oct": 11,
                     "Dec": 12},
          "VisitorType":{
              "Returning_Visitor": 0,
              "New_Visitor": 1,
              "Other": 2
          },
          "Weekend":{
              False:0,
              True:1
          },
          "Revenue":{
              False:0,
              True:1}}

In [161]:
dataframe.replace(cleanup, inplace=True)
dataframe.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,1,1,1,1,0,0,0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,2,2,2,1,2,0,0,0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,4,1,9,3,0,0,0
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,2,3,2,2,4,0,0,0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,2,3,3,1,4,0,1,0

In [162]:
date = list(dataframe.Month)

date_sin = [math.sin(date[i]/12) for i in range (len(date))]
date_cos = [math.cos(date[i]/12) for i in range (len(date))]
dataframe['date_sin'] = date_sin
dataframe['date_cos'] = date_cos
dataframe = dataframe.drop('Month', axis=1)

In [163]:
upper_lim_Adm_Dur = dataframe['Administrative_Duration'].mean() + dataframe['Administrative_Duration'].std() * 3

dataframe.loc[(dataframe['Administrative_Duration'] > upper_lim_Adm_Dur),
              'Administrative_Duration'] = upper_lim_Adm_Dur

upper_lim_Inf_Dur = dataframe['Informational_Duration'].mean() + dataframe['Informational_Duration'].std() * 3

dataframe.loc[(dataframe['Informational_Duration'] > upper_lim_Inf_Dur),
              'Informational_Duration'] = upper_lim_Inf_Dur

upper_lim_Prd_Dur = dataframe['ProductRelated_Duration'].mean() + dataframe['ProductRelated_Duration'].std() * 3

dataframe.loc[(dataframe['ProductRelated_Duration'] > upper_lim_Prd_Dur),
              'ProductRelated_Duration'] = upper_lim_Prd_Dur

In [164]:
from sklearn.preprocessing import StandardScaler

to_scale = ['Administrative_Duration', 'Informational_Duration', 'ProductRelated_Duration', 
            'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay']

scaler = StandardScaler()

dataframe[to_scale] = scaler.fit_transform(dataframe[to_scale])

In [165]:
dataframe.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue,date_sin,date_cos
0,0,-0.574348,0,-0.319624,1,-0.781122,3.667189,3.229316,-0.317178,-0.308821,1,1,1,1,0,0,0,0.165896,0.986143
1,0,-0.574348,0,-0.319624,2,-0.736817,-0.457683,1.171473,-0.317178,-0.308821,2,2,1,2,0,0,0,0.165896,0.986143
2,0,-0.574348,0,-0.319624,1,-0.781122,3.667189,3.229316,-0.317178,-0.308821,4,1,9,3,0,0,0,0.165896,0.986143
3,0,-0.574348,0,-0.319624,2,-0.779276,0.573535,1.994610,-0.317178,-0.308821,3,2,2,4,0,0,0,0.165896,0.986143
4,0,-0.574348,0,-0.319624,10,-0.346721,-0.045196,0.142551,-0.317178,-0.308821,3,3,1,4,0,1,0,0.165896,0.986143

In [166]:
y = dataframe.Revenue
X = dataframe.drop('Revenue', axis=1)

In [167]:
X

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,date_sin,date_cos
0,0,-0.574348,0,-0.319624,1,-0.781122,3.667189,3.229316,-0.317178,-0.308821,1,1,1,1,0,0,0.165896,0.986143
1,0,-0.574348,0,-0.319624,2,-0.736817,-0.457683,1.171473,-0.317178,-0.308821,2,2,1,2,0,0,0.165896,0.986143
2,0,-0.574348,0,-0.319624,1,-0.781122,3.667189,3.229316,-0.317178,-0.308821,4,1,9,3,0,0,0.165896,0.986143
3,0,-0.574348,0,-0.319624,2,-0.779276,0.573535,1.994610,-0.317178,-0.308821,3,2,2,4,0,0,0.165896,0.986143
4,0,-0.574348,0,-0.319624,10,-0.346721,-0.045196,0.142551,-0.317178,-0.308821,3,3,1,4,0,1,0.165896,0.986143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,0.565161,0,-0.319624,53,0.453748,-0.310366,-0.288966,0.342125,-0.308821,4,6,1,1,0,1,0.841471,0.540302
12326,0,-0.574348,0,-0.319624,5,-0.458696,-0.457683,-0.447364,-0.317178,-0.308821,3,2,1,8,0,1,0.740177,0.672412
12327,0,-0.574348,0,-0.319624,6,-0.653571,1.261014,0.897093,-0.317178,-0.308821,3,2,1,13,0,1,0.740177,0.672412
12328,4,0.015053,0,-0.319624,15,-0.541596,-0.457683,-0.453140,-0.317178,-0.308821,2,2,3,11,0,0,0.740177,0.672412
12329,0,-0.574348,0,-0.319624,3,-0.766412,-0.457683,0.485525,-0.317178,-0.308821,3,2,1,2,1,1,0.740177,0.672412

In [187]:
from sklearn.metrics import accuracy_score
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2, random_state=0).fit(X)
pred = kmeans.labels_

accuracy_score(y, pred)

0.8125709651257097

In [188]:
from sklearn.cluster import AgglomerativeClustering

model = AgglomerativeClustering(n_clusters=2, linkage='single').fit(X)

pred = model.labels_

accuracy_score(y, pred)

0.8450932684509327

In [189]:
from sklearn.cluster import AgglomerativeClustering

model = AgglomerativeClustering(n_clusters=2, linkage='ward').fit(X)

pred = model.labels_

accuracy_score(y, pred)

0.22935928629359287

In [190]:
from sklearn.cluster import AgglomerativeClustering

model = AgglomerativeClustering(n_clusters=2, linkage='complete').fit(X)

pred = model.labels_

accuracy_score(y, pred)

0.15660989456609894

In [191]:
from sklearn.cluster import AgglomerativeClustering

model = AgglomerativeClustering(n_clusters=2, linkage='average').fit(X)

pred = model.labels_

accuracy_score(y, pred)

0.8451743714517437